<app-header></app-header>
<!-- BEGIN: Content-->
<div class="app-content content " style="background: url(../../../assets/img/banner1.png) no-repeat;background-size: cover;height: 90vh;overflow: auto; margin-left: 0;">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body mrt">
       <div class="mb-2">
        <h2 class="text-color"><strong>Contact Us</strong></h2>
      </div>
      <section id="horizontal-input">
        <div class="row">
          <div class="col-xl-4 col-md-4 col-sm-12">
            <div class="card text-center mt-5">
              <div class="card-header text-center">
                <div class="fonticon-container">
                  <i class="bx bx-map bg-info text-white"></i>
                  <h5 class="mb-0">Visit Us</h5>
                </div>
              </div>
              <div class="card-body">
                <div class="text">
                  <p>Vision One Mall, Shop No:203, Pune Banglore Highway, 411018</p>
                  <p>India</p>
                  <p> &nbsp;</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 col-sm-12">
            <div class="card text-center mt-5">
              <div class="card-header text-center">
                <div class="fonticon-container">
                  <i class="bx bx-phone bg-info text-white"></i>
                  <h5 class="mb-0">Contact Us</h5>
                </div>
              </div>
              <div class="card-body">
                <div class="text">
                  <p><strong>Phone support is available from 9am to 5pm</strong></p>
                  <p>+91 73 877 53553</p>
                  <p><strong>Closed on Thursday</strong></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 col-sm-12">
            <div class="card text-center mt-5">
              <div class="card-header text-center">
                <div class="fonticon-container">
                  <i class="bx bx-envelope bg-info text-white"></i>
                  <h5 class="mb-0">Email Us</h5>
                </div>
              </div>
              <div class="card-body">
                <div class="text">
                  <p><strong>Please write us at </strong></p>
                  <p>care@cleanitonline.in</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </section>
    </div>
  </div>
</div>
<!-- <div class="sidenav-overlay"></div>
<div class="drag-target"></div> -->
<app-footer></app-footer>