<div class="row" [apploading]="isLoader">
  <div class="col-md-12 col-sm-12">
  <form [formGroup]='SecurityQuestionForm'>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-5 col-md-5">
          <label class="bold-font">UserName
            <span class="required">*</span>
          </label>
        </div>
        <div class="col-sm-7 col-md-7">
          <input type="text" class="form-control" [(ngModel)]="SecurityAnswerModel.UserName" formControlName="userName"
            placeholder="enter user name">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-5 col-md-5">
          <label class="bold-font">MobileNo
            <span class="required">*</span>
          </label>
        </div>
        <div class="col-sm-7 col-md-7">
          <input type="text" maxlength="10" pattern="^[6-9]\d{9}$" class="form-control" 
          [(ngModel)]="SecurityAnswerModel.MobileNo" formControlName="mobileNo"
            placeholder="enter mobile no">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-5 col-md-5">
          <label class="bold-font">What city were you born in?
            <span class="required">*</span>
          </label>
        </div>
        <div class="col-sm-7 col-md-7">
          <input type="text" class="form-control" [(ngModel)]="SecurityAnswerModel.SecurityAnswerOne"
           formControlName="ans1"
            placeholder="answer">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-5 col-md-5">
          <label class="bold-font">What is your favorite food?
            <span class="required">*</span>
          </label>
        </div>
        <div class="col-sm-7 col-md-7">
          <input type="text" class="form-control" [(ngModel)]="SecurityAnswerModel.SecurityAnswerTwo" 
          formControlName="ans2" placeholder="answer">
        </div>
      </div>
    </div>
  </form>
</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 text-center">
    <button class="btn btn-primary" style="margin-right: 10px;" (click)="CheckSecurityAnswer()">
     Submit</button>
      <button class="btn btn-primary" >
        Clear</button>
  </div>
</div>
<hr *ngIf="IsAnswerMatch">
<div class="row" *ngIf="IsAnswerMatch">
 <div class="col-md-12 col-sm-12">
  <form [formGroup]='ResetPasswordForm'>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-5 col-md-5">
          <label class="bold-font">New Password
            <span class="required">*</span>
          </label>
        </div>
        <div class="col-sm-7 col-md-7">
          <input type="text" class="form-control" [(ngModel)]="newPassword" formControlName="ans1"
            placeholder="Enter new password">
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-sm-12 col-md-12 text-center">
      <button class="btn btn-primary" style="margin-right: 10px;" >
       Submit</button>
        <button class="btn btn-primary" >
          Clear</button>
    </div>
  </div>
</div>
</div>
