
 <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true" style="background: linear-gradient(to bottom, #ffffff, #fcfcfc, #f9f9fa, #eaeded, #e9e9e9);">
 
  <div class="shadow-bottom"></div>
  <div class="main-menu-content mt-3 ps">
    <ul class="navigation navigation-main " id="main-menu-navigation" data-menu="menu-navigation" >
      <li *ngFor="let menu of tempMenuList" style="cursor: pointer;" [class.active]="menu.selected==true" class="nav-item">
            <a class="d-flex align-items-center" (click)="nevigateToUrl(menu)">
              <div class="box">
                <img class="bx bx-right-arrow-alt mr-1" [src]="menu.iconUrl">
              </div>
              <span class="menu-item text-truncate">{{menu.Name}}</span></a>
          </li>
    </ul>
  </div>      
</div>