<div class="row">
  <div class="col-lg-7 col-md-7 col-sm-12">
<div class="card">
  <div class="card-body">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" *ngFor="let tab of tabs" [ngClass]='{active : tab.isSelected}' (click)="selectedTab(tab)">
            <a class="nav-link" id="home-tab" data-toggle="tab"  aria-controls="home" role="tab" aria-selected="false">
              <span class="align-middle">{{tab.tabName  | translate}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>