<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="equal-height">
      <div class="equ-cell">
        <header>
          <h2>{{'Ironing.Header' | translate }}</h2>
        </header>
        <div class="body" [formGroup]='ironingForm' [apploading]="isLoader">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <label>{{'Ironing.NoOfCloths' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-sm-8 col-md-8">
                <input formControlName="NoOfCloths" pattern="^[0-9]*$" (keyup)=SetTotalCost($event); [(ngModel)]="ironingModel.NoOfCloths" max="999" class="form-control form-control-border" type="number">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <label>{{'Ironing.PickupDate' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-sm-8 col-md-8">
                <input formControlName="PickupDate" [(ngModel)]="ironingModel.PickUpDate" class="form-control form-control-border" [max]="SetMaxDateForDatePicker()" [min]="SetMinDateForDatePicker()" type="date">
              </div>
              </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <label>{{'Ironing.TimeSlot' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-sm-8 col-md-8">
                <select formControlName="TimeSlot" [(ngModel)]="ironingModel.PickUpTimeSlot" class="form-control form-control-border">
                <option value="null">{{'Ironing.Select_TimeSlot' | translate }}</option>
                <option *ngFor="let t of pickupTimeSlot" [ngValue]='t.timeSlot'>{{t.timeSlot}}</option>
              </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <label>{{'CommonText.Address' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-sm-8 col-md-8">
                <input formControlName="Address" [(ngModel)]="ironingModel.PickUpAddress" class="form-control form-control-border" type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <label>{{'CommonText.TotalCost' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-sm-8 col-md-8">
                <input formControlName="TotalCost" disabled [(ngModel)]="ironingModel.TotalCost" class="form-control form-control-border" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
              <button class="btn btn-primary" [disabled] ="!ironingForm.valid" (click)="AddIroningOrders()">
                {{'CommonText.Submit' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>