<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="equal-height">
      <div class="equ-cell">
        <header>
          <h2> Ironing - Place Order</h2>
        </header>
        <div class="body">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <label>No of cloths
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-sm-8 col-md-8">
                <input max="999" class="form-control form-control-border" type="number">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <label>Pickup Date
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-sm-8 col-md-8">
                <input  class="form-control form-control-border" type="date">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <label>Pickup Time
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-sm-8 col-md-8">
                <input class="form-control form-control-border" type="time">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <label>Address
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-sm-8 col-md-8">
                <input  class="form-control form-control-border" type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <label>Total cost
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-sm-8 col-md-8">
                <input  class="form-control form-control-border" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
              <button class="btn btn-primary">
                {{'CommonText.Submit' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>