<!-- <div class="tab-content form-scroll-div" >
  <div class="col-md-12 box" [apploading]="isLoader">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <app-grid-table [columns]="columnHeader" [pagesize]="50" [Data]="tableData" [TotalItem]="totalItems"
          (clickedIcon)="selectedGridData($event,OrderSummeryPopup)" [pagination]="true" [showselection]='false' [enableSearch]="true"
          [GridName]="'CustomerGrid'">
        </app-grid-table>       
      </div>
    </div>
  </div>-->
 
  <ng-template #OrderSummeryPopup>
    <div class="card">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-right" style="padding-right: 30px;">
          <button type="button" class="close pull-right" aria-label="Close" (click)="closeSummeryPopup();">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
       
      </div>
      <div class="title">
        Order Details
      </div>
      <div class="info">
          <div class="row">
              <div class="col-md-4 col-sm-4"> <span id="heading">Date</span><br> <span id="details">{{orderSummary.CreatedAt | date:'short'}}</span> </div>
              <div class="col-md-4 col-sm-4"> <span id="heading">Time Slot</span><br> <span id="details">{{orderSummary.PickUpTimeSlot}}</span> </div>
              <div class="col-md-4 col-sm-4 text-right"> <span id="heading">Order No.</span><br> <span id="details">{{orderSummary.OrderNumber}}</span> </div>
          </div>
      </div>
      <div class="pricing">
          <div class="row">
              <div class="col-md-9 col-sm-9"> <span id="name">Number Of Cloths</span> </div>
              <div class="col-md-3 col-sm-3"> <span id="price">{{orderSummary.NoOfCloths}}</span> </div>
          </div>
          <div class="row">
              <div class="col-md-9 col-sm-9"> <span id="name">Total Cost</span> </div>
              <div class="col-md-3 col-sm-3"> <span id="price">{{orderSummary.TotalCost | currency:'INR'}}</span> </div>
          </div>
      </div>
      <div class="total">
          <div class="row">
              <div class="col-md-9 col-sm-9"></div>
              <div class="col-md-3 col-sm-3">{{orderSummary.TotalCost | currency:'INR'}}</div>
          </div>
      </div>
      <div class="footer">
          <div class="row">
            
          </div>
      </div>
  </div>
  </ng-template>
<!-- </div>  -->


<!-- BEGIN: Content-->
<div class="app-content content " style="background: url(../../../assets/img/banner1.png) no-repeat;background-size: cover;height: 90vh;overflow: auto;">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body mrt">
       <div class="mb-2">
        <h2 class="text-color"><strong>Order History</strong></h2>
      </div>
      <section id="londry" class="mt-3">
        <app-grid-table [columns]="columnHeader" [pagesize]="50" [Data]="tableData" [TotalItem]="totalItems"
        (clickedIcon)="selectedGridData($event,OrderSummeryPopup)" [pagination]="true" [showselection]='false' [enableSearch]="true"
        [GridName]="'CustomerGrid'">
      </app-grid-table>
     </section>
  </div>
</div>
</div>
<app-footer></app-footer>