<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mr-0" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="userType!== 'Admin' && userType!== 'Agent' && userType!== 'Operator'"  (click)="nevigateToDashboad()">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item" (click)="nevigateToLogin()">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav> -->




<!-- BEGIN: Header-->
<div class="header-navbar-shadow"></div>
<nav class="header-navbar main-header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top ">
  <div class="navbar-wrapper">
    <div class="navbar-container content" >
      <div class="navbar-collapse" id="navbar-mobile">
        
        <div class="mr-auto float-left bookmark-wrapper d-flex text-align-center">
          <ul class="nav navbar-nav bookmark-icons">
            <li *ngIf="loginUsername" style="cursor: pointer;" class="nav-item float-left"><a class="nav-link" (click)="nevigateToDashboad()"><img src="../../assets/img/logo.png" width="110"></a></li>
            <li *ngIf="!loginUsername"class="nav-item float-left"><img src="../../assets/img/logo.png" width="110"></li>
            
          </ul>
         <!--  <ul class="nav navbar-nav">
            
          </ul> -->
        </div>
        
        <ul class="nav navbar-nav float-right">
          <li class="nav-item mobile-menu d-xl-none ">
            <a class="nav-link nav-menu-main menu-toggle hidden-xs is-active" href="javascript:void(0);">
              <i class="ficon bx bx-menu" style="color: #000"></i>
            </a>
          </li>
          <li *ngIf="loginUsername" style="cursor: pointer;" class="dropdown dropdown-notification nav-item hide1"><a class="nav-link nav-link-label text-dark user-op" data-toggle="dropdown">Welcome <b>{{loginUsername}}</b></a>
          </li>
          <li  *ngIf="loginUsername" style="cursor: pointer;"  class="dropdown dropdown-notification nav-item hide1"><a class="nav-link nav-link-label user-op text-dark" data-toggle="dropdown" (click)="nevigateToLogin()" >Logout</a>
          </li> 
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- END: Header-->