<!-- <body class="back-image">
  <div id="login">
      <div class="container" [apploading]="isLoader">
          <div id="login-row" class="row justify-content-center align-items-center">
              <div id="login-column" class="col-md-6">
                  <div id="login-box" class="col-md-12">
                      <form id="login-form" class="form" [formGroup]='LoginForm'>
                          <h3 class="text-center">{{'Login.Login' | translate }}</h3>
                          <div class="form-group">
                              <label for="username">{{'Login.UserName' | translate }}:</label><br>
                              <input type="text" [(ngModel)]="LoginModel.UserName" formControlName="Username" 
                              id="username" placeholder="{{'Login.EnterUsername' | translate }}" class="form-control">
                          </div>
                          <div class="form-group">
                              <label for="password" >{{'Login.Password' | translate }}:</label><br>
                              <input type="password" [(ngModel)]="LoginModel.Password" formControlName="password" 
                              id="password" placeholder="{{'Register.EnterPassword' | translate }}" class="form-control">
                          </div>
                          <div class="form-group">
                              <input type="submit" name="submit" [disabled] ="!LoginForm.valid" (click)="GetUserDetails()" class="btn btn-info btn-md" value="{{'Login.Submit' | translate }}">
                          </div>
                          <div id="register-link" class="text-right">
                              <a href="#" target="_blank" [routerLink]="['/cleanit/UserRegistration']" class="text-info">{{'Login.RegisterHere' | translate }}</a>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body> -->


    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/img/Capture2mod.png" alt="Los Angeles" class="img-fluid Capture2mod"  />
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/capture3mod.png" alt="Chicago" class="img-fluid Capture2mod" />
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/capture4mod.png" alt="New York" class="img-fluid Capture2mod" />
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    
    <div id="layoutAuthentication" [apploading]="isLoader">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    <form [formGroup]='LoginForm'>
                                        <div class="form-group">
                                            <label class="small mb-1" for="username">{{'Login.UserName' | translate }}</label>
                                            <input type="text" [(ngModel)]="LoginModel.UserName" formControlName="Username" 
                                             id="username" placeholder="{{'Login.EnterUsername' | translate }}" class="form-control py-4">
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="password">{{'Login.Password' | translate }}</label>
                                            <input type="password" [(ngModel)]="LoginModel.Password" formControlName="password" id="password"
                                                placeholder="{{'Register.EnterPassword' | translate }}" class="form-control py-4">
                                        </div>
                                        <!-- <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                                <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                                            </div>
                                        </div> -->
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" [routerLink]="['/cleanit/ResetPassword']" href="#" target="_blank">Forgot Password?</a>
                                            <input type="submit" name="submit" [disabled] ="!LoginForm.valid" (click)="GetUserDetails()" class="btn btn-primary" value="{{'Login.Submit' | translate }}">
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small"><a href="#" target="_blank" [routerLink]="['/cleanit/UserRegistration']" >Need an account? Sign up!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2020</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
  
