    <app-header></app-header>
    <!-- BEGIN: Content-->
    <div [apploading]="isLoader" class="app-content content" style="background: url(../../assets/img/laundryimg.jpg) no-repeat; margin-left: 0">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
          <!-- Dashboard Analytics Start -->
          <section id="form-repeater-wrapper">
            <!-- form default repeater -->
            <div class="container-fluid">
                <div class="background"></div>
                <div class="background"></div>
               <div class="row mt-3">
              <div class="col-xl-5 offset-xl-6 col-md-7 offset-md-4 col-sm-6 offset-sm-5 col-xs-8">
                <div class="card">
                  <div class="card-header bg-info" style="padding-bottom: 3px;">
                    <div class="text-center">
                      <h3 class="text-white">Login</h3>
                    </div>
                  </div>
                   <div class="card-body mt-2">
                          <form [formGroup]='LoginForm' class="form repeater-default">
                            <div data-repeater-list="group-a">
                              <div data-repeater-item="">
                                <div class="row justify-content-between">
                                  <div class="col-md-12 col-sm-12 form-group">
                                    <label>UserName </label>
                                    <input type="text" [(ngModel)]="LoginModel.UserName" formControlName="Username"  class="form-control" placeholder="Enter Username">
                                  </div>
                                  <div class="col-md-12 col-sm-12 form-group">
                                    <label for="password">password</label>
                                    <input type="password" [(ngModel)]="LoginModel.Password" formControlName="password" class="form-control" id="password" placeholder="Enter Password">
                                  </div>
                                  
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12">
                                <div>
                                 <h6><a [routerLink]="['/cleanit/ResetPassword']" href="#">Forgot Password?</a></h6> 
                                </div>
                              </div>
                             
                            </div>
                            <div class="form-group text-center">
                              <div class="col p-0">
                                <button type="submit" [disabled] ="!LoginForm.valid" (click)="GetUserDetails()" class="btn btn-info shadow mr-1">Submit</button>
                                
                              </div>
                            </div>
                            
                          </form>

                    </div>
                     <div class="card-footer text-center" style="background-color:  #d6d6d652 ">
                          <span>Need an account | <a href="#" target="_blank" [routerLink]="['/cleanit/UserRegistration']">Sign Up</a></span>
                        </div>
                </div>
              </div>
            </div>
              </div>
          </section>
        </div>
      </div>
    </div>
   
    <app-footer></app-footer>
   