<body class="back-image">
  <div id="login">
      <div class="container" [apploading]="isLoader">
          <div id="login-row" class="row justify-content-center align-items-center">
              <div id="login-column" class="col-md-6">
                  <div id="login-box" class="col-md-12">
                      <form id="login-form" class="form" [formGroup]='LoginForm'>
                          <h3 class="text-center">{{'Login.Login' | translate }}</h3>
                          <div class="form-group">
                              <label for="username">{{'Login.UserName' | translate }}:</label><br>
                              <input type="text" [(ngModel)]="LoginModel.UserName" formControlName="Username" 
                              id="username" placeholder="{{'Login.EnterUsername' | translate }}" class="form-control">
                          </div>
                          <div class="form-group">
                              <label for="password" >{{'Login.Password' | translate }}:</label><br>
                              <input type="password" [(ngModel)]="LoginModel.Password" formControlName="password" 
                              id="password" placeholder="{{'Register.EnterPassword' | translate }}" class="form-control">
                          </div>
                          <div class="form-group">
                              <input type="submit" name="submit" [disabled] ="!LoginForm.valid" (click)="GetUserDetails()" class="btn btn-info btn-md" value="{{'Login.Submit' | translate }}">
                          </div>
                          <div id="register-link" class="text-right">
                              <a href="#" target="_blank" [routerLink]="['/cleanit/UserRegistration']" class="text-info">{{'Login.RegisterHere' | translate }}</a>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>