.card{
    border:1px solid #ccc;
    border-radius: 10px; 
  }
 
.container-fluid > .background { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-size: cover; z-index: 0; width: 100%;}

.container-fluid > *:not(.background) { position: relative; z-index: 1;}
   .footer{background-color: #F2F4F4;position: relative;}
   @media (min-width: 992px){.vertical-layout.vertical-menu-modern .footer {
 margin-left: 0px; 
}
}

  .card .card-header{
    text-align: center;
    display: block;
    background-color: #d6d6d652;
  }
  .header-navbar.fixed-top{left: 0}
  html .content{
    margin-left: 0;
  }

  .mt-3, .my-3 {
    margin-top: 3rem!important;
}

.pt-1, .py-1 {
    padding-top: 1rem!important;
}