<!-- <div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="equal-height">
      <div class="equ-cell">
        <header>
          <h2>{{'Ironing.LaundryPlaceOrder' | translate }}</h2>
        </header>
        <div class="body" [formGroup]='laundryForm' [apploading]="isLoader">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <label class="bold-font">{{'Ironing.NoOfKgs' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-sm-6 col-md-6">
                <input formControlName="NoOfKgs" pattern="^[0-9]*$" (keyup)=SetTotalCost($event); [(ngModel)]="laundryModel.NoOfKgs" max="999" class="form-control form-control-border" type="number">
              </div>
              <div class="col-sm-2 col-md-2">
                <div class="text-center" style="background-color: #e9ecef; height: 30px;width: 150px; border:2px solid #63738a; border-radius: 3px;">
                <span style="font-weight: bold; font-size: large; color:black;">7 cloths </span>
                <span style="font-weight: bold; font-size: large; color:black;">{{'CommonText.ratePerkg' | translate }}</span>
              </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <label class="bold-font">{{'Ironing.PickupDate' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-sm-8 col-md-8">
                <input formControlName="PickupDate" [(ngModel)]="laundryModel.PickUpDate" class="form-control form-control-border" [max]="SetMaxDateForDatePicker()" [min]="SetMinDateForDatePicker()" type="date">
              </div>
              </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <label class="bold-font">{{'Ironing.TimeSlot' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-sm-8 col-md-8">
                <select formControlName="TimeSlot" [(ngModel)]="laundryModel.PickUpTimeSlot" class="form-control form-control-border">
                <option value="null">{{'Ironing.Select_TimeSlot' | translate }}</option>
                <option *ngFor="let t of pickupTimeSlot" [ngValue]='t.timeSlot'>{{t.timeSlot}}</option>
              </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <label class="bold-font">{{'CommonText.Address' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-sm-8 col-md-8">
                <input formControlName="Address" disabled [(ngModel)]="laundryModel.PickUpAddress" class="form-control form-control-border" type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <label class="bold-font">{{'CommonText.TotalCost' | translate }}
                  <span class="required">*</span>
                </label>
              </div>
              <div class="col-sm-6 col-md-6">
                <input formControlName="TotalCost" style="font-weight: bold; font-size: x-large;" disabled [(ngModel)]="laundryModel.TotalCost" class="form-control form-control-border" type="text">
              </div>
              <div class="col-sm-2 col-md-2">
                <div class="text-center" style="background-color: #e9ecef; height: 30px;width: 150px; border:2px solid #63738a; border-radius: 3px;">
                <span style="font-weight: bold; font-size: large; color:black;">{{defaultValue}}</span>
                <span style="font-weight: bold; font-size: large; color:black;">&#8377;</span>
                <span style="font-weight: bold; font-size: large; color:black;">{{'CommonText.ratePerkg' | translate }}</span>
              </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
              <button class="btn btn-primary" style="margin-right: 10px;" [disabled] ="!laundryForm.valid" (click)="AddLaundryOrders()">
                {{'CommonText.Submit' | translate }}</button>
                <button class="btn btn-primary" (click)="ResetForm()">
                  {{'CommonText.Clear' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<!-- BEGIN: Content-->
<div class="app-content content " style="background: url(../../assets/img/banner1.png) no-repeat;background-size: cover;height: 90vh;overflow: auto;">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div  [apploading]="isLoader" class="content-body mrt">
      <form [formGroup]='laundryForm'>
       <div class="mb">
        <h2 class="text-color"><strong>Laundry Form</strong></h2>
      </div>
      <section id="horizontal-input">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
              </div>
              <div class="card-body">
                <form>
                  <div class="row">  
                    <div class="col-12">
                      <div class="form-group row align-items-center">
                        <div class="col-lg-3 col-md-3 col-xs-12">
                          <label for="kg" class="col-form-label">No. of Kgs<span class="text-danger"> *</span></label>
                        </div>
                        <div class="col-lg-7 col-md-7 col-xs-12">
                          <input type="number" formControlName="NoOfKgs" pattern="^[0-9]*$"
                           id="kg" class="form-control" name="fname"
                           (keyup)=SetTotalCost($event); [(ngModel)]="laundryModel.NoOfKgs" max="999" placeholder="Enter Weight (kgs)" required>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-6">
                          <h6 class="mt-1"><strong>7 clothes / Kg</strong></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">  
                    <div class="col-12">
                      <div class="form-group row align-items-center">
                        <div class="col-lg-3 col-md-3 col-xs-12">
                          <label for="pickup-date" class="col-form-label">Pickup Date<span class="text-danger"> *</span></label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-xs-12">
                          <input type="date" id="pdate" class="form-control"
                          formControlName="PickupDate" [(ngModel)]="laundryModel.PickUpDate" 
                          [max]="SetMaxDateForDatePicker()" [min]="SetMinDateForDatePicker()" name="pdate" required>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">  
                    <div class="col-12">
                      <div class="form-group row align-items-center">
                        <div class="col-lg-3 col-md-3 col-xs-12">
                          <label for="TimeSlot" class="col-form-label">Time Slot<span class="text-danger"> *</span></label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-xs-12">
                          <select formControlName="TimeSlot" [(ngModel)]="laundryModel.PickUpTimeSlot" class="form-control" required>
                            <option value="null">Select time slot</option>
                            <option *ngFor="let t of pickupTimeSlot" [ngValue]='t.timeSlot'>{{t.timeSlot}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">  
                    <div class="col-12">
                      <div class="form-group row align-items-center">
                        <div class="col-lg-3 col-md-3 col-xs-12">
                          <label for="address" class="col-form-label">Address<span class="text-danger"> *</span></label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-xs-12">
                          <textarea id="address" formControlName="Address" [(ngModel)]="laundryModel.PickUpAddress" class="form-control" name="address" placeholder="Enter Address" required readonly></textarea> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">  
                    <div class="col-md-12 col-lg-12">
                      <div class="form-group row">
                        <div class="col-lg-3 col-md-3 col-xs-12">
                          <label for="cost" class="col-form-label" style="font-size: 18px;font-weight: 900;">Total Cost</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-xs-12">
                          <input formControlName="TotalCost" type="text" [(ngModel)]="laundryModel.TotalCost" id="cost" class="form-control" name="fname" placeholder="Total cost" readonly required>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-6">
                          <h6 class="mt-1"><strong>42 &#8377; / Kg</strong></h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xs-6">
                          
                          <!-- <input type="text" id="rskg" value="42" class="form-control mr-1" name="rskg" readonly> -->
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-md-4">
                      <input type="text" id="rskg" value="42&#8377; / Kg" class="form-control mr-1" name="rskg" readonly>
                    </div> -->
                  </div>
                  <div class="row text-center">
                    <div class="col-12">
                      <button type="submit" [disabled] ="!laundryForm.valid" (click)="AddLaundryOrders()" class="btn btn-info shadow mr-1 mb-1">Place Order</button>
                      <button type="button" (click)="ResetForm()" class="btn btn-light shadow mr-1 mb-1">Clear</button>
                    </div>
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
    </div>
  </div>
</div>
<!-- END: Content-->

<!-- <app-footer></app-footer> -->