<app-header></app-header>
 <!-- BEGIN: Content-->
 <div class="app-content content " style="background: url(../../../assets/img/banner1.png) no-repeat;background-size: cover;height: 100vh;overflow: auto; margin-left: 0;">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
       <div class="mt-1">
        <h2 class="text-color"><strong>FAQs</strong></h2>
      </div>
    <section id="accordion-icon-wrapper">
        
        <div class="accordion collapse-icon accordion-icon-rotate" id="accordionWrapa2" data-toggle-hover="true">
          <div class="card collapse-header open">
            <div id="heading11" class="card-header" data-toggle="collapse" data-target="#accordion11" aria-expanded="true" aria-controls="accordion11" role="tablist">
              <span class="collapse-title">
                <span class="align-middle">Why Cleanit?</span>
              </span>
            </div>
            <div id="accordion11" role="tabpanel" data-parent="#accordionWrapa2" aria-labelledby="heading11" class="collapse show" style="">
              <div class="card-body">
                <ul>
                  <li>Lowest price in Pune.</li>
                  <li>Free pickup and delivery.</li>
                  <li>Online booking.</li>
                  <li><b>Delivery within 24 hours*.</b></li>
                  <li>Online tracking.</li>
                  <li>100% hygiene assured.</li>
                  <li>Best customer service.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card collapse-header">
            <div id="heading5" class="card-header" data-toggle="collapse" data-target="#accordion5" aria-expanded="true" aria-controls="accordion5" role="tablist">
              <span class="collapse-title">
                <span class="align-middle">What is an offer card?</span>
              </span>
            </div>
            <div id="accordion5" role="tabpanel" data-parent="#accordionWrapa2" aria-labelledby="heading5" class="collapse show" style="">
              <div class="card-body">
                You can avail 250 cleanit points at Rs. 199 (valid with only with offer card), this is a limited period offer only for the new online registered users. (1 cleanit point = 1 Rs)
              </div>
            </div>
          </div>
          <div class="card collapse-header">
            <div id="heading12" class="card-header collapsed" data-toggle="collapse" role="button" data-target="#accordion12" aria-expanded="false" aria-controls="accordion12">
              <span class="collapse-title">
                <span class="align-middle">What services does Cleanit provide?</span>
              </span>
            </div>
            <div id="accordion12" role="tabpanel" data-parent="#accordionWrapa2" aria-labelledby="heading12" class="collapse" aria-expanded="false" style="">
              <div class="card-body">
                <ul>
                  Cleanit provides different services.
                  <li><b>Wash and Iron</b> - The items of clothing are machine washed with utmost care and tumble dried at a medium temperature, ironed and then folded and packed together.</li>
                <li><b>Wash and Fold</b> - The items of clothing are machine washed with utmost care and tumble dried at a medium temperature, then folded and packed together.</li>
                <li><b>Iron and Fold</b> - You can send us your clean clothes and we can iron, fold and pack them for you.</li>
                </ul>
                </div>
            </div>
          </div>
          <div class="card collapse-header">
            <div id="heading6" class="card-header collapsed" data-toggle="collapse" role="button" data-target="#accordion6" aria-expanded="false" aria-controls="accordion6">
              <span class="collapse-title">
                <span class="align-middle">How to get an offer card?
                </span>
              </span>
            </div>
            <div id="accordion6" role="tabpanel" data-parent="#accordionWrapa2" aria-labelledby="heading6" class="collapse" aria-expanded="false" style="">
              <div class="card-body">
                You can reach us on Mobile number mentioned on ‘contact us’ page and we will get back to you with all the details.
              </div>
            </div>
          </div>
          <div class="card collapse-header">
            <div id="heading7" class="card-header collapsed" data-toggle="collapse" role="button" data-target="#accordion7" aria-expanded="false" aria-controls="accordion7">
              <span class="collapse-title">
                <span class="align-middle">How to place an order without online registration?
                </span>
              </span>
            </div>
            <div id="accordion7" role="tabpanel" data-parent="#accordionWrapa2" aria-labelledby="heading7" class="collapse" aria-expanded="false" style="">
              <div class="card-body">
                You can reach us on Mobile number mentioned on ‘contact us’ page for placing an order.
              </div>
            </div>
          </div>
          <div class="card collapse-header">
            <div id="heading8" class="card-header collapsed" data-toggle="collapse" role="button" data-target="#accordion8" aria-expanded="false" aria-controls="accordion8">
              <span class="collapse-title">
                <span class="align-middle">Will the quality of my clothes reduce after wash/laundry?
                </span>
              </span>
            </div>
            <div id="accordion8" role="tabpanel" data-parent="#accordionWrapa2" aria-labelledby="heading8" class="collapse" aria-expanded="false" style="">
              <div class="card-body">
                We use high quality detergents that would fight stains keeping clothes quality intact.
              </div>
            </div>
          </div>
          <div class="card collapse-header">
            <div id="heading9" class="card-header collapsed" data-toggle="collapse" role="button" data-target="#accordion9" aria-expanded="false" aria-controls="accordion9">
              <span class="collapse-title">
                <span class="align-middle">What if the pick-up/delivery is not made on time?
                </span>
              </span>
            </div>
            <div id="accordion9" role="tabpanel" data-parent="#accordionWrapa2" aria-labelledby="heading9" class="collapse" aria-expanded="false">
              <div class="card-body">
                You can reach us on Mobile number mentioned on ‘contact us’ page for any unexpected issues/concerns.
              </div>
            </div>
          </div>
          <div class="card collapse-header">
            <div id="heading10" class="card-header collapsed" data-toggle="collapse" role="button" data-target="#accordion10" aria-expanded="false" aria-controls="accordion10">
              <span class="collapse-title">
                <span class="align-middle">Can I make an online payment after placing an order?
                </span>
              </span>
            </div>
            <div id="accordion10" role="tabpanel" data-parent="#accordionWrapa2" aria-labelledby="heading10" class="collapse" aria-expanded="false">
              <div class="card-body">
                No, we do not accept online payments, payment will be collected (cash/digital payment) by our agent post order delivery.
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- <div class="sidenav-overlay"></div>
<div class="drag-target"></div> -->
<app-footer></app-footer>
<!-- END: Content-->