
<body>
  <div class="signup-form" [apploading]="isLoader"> 
    <form [formGroup]='UserRegistrationForm'> 
      <h2>{{'Register.Register' | translate }}</h2>
      <div class="form-group">
        <input type="text" class="form-control" maxlength="20" (change)="CheckUserNameExists()" (keypress)="keyPressAlphaNumeric($event)" [(ngModel)]="UserRegistrationModel.UserName" formControlName="Username" placeholder="{{'Login.EnterUsername' | translate }}">
        <p style="font-weight: bold;">Ironing</p>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" maxlength="20" [(ngModel)]="UserRegistrationModel.Password" formControlName="password" placeholder="{{'Register.EnterPassword' | translate }}">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="UserRegistrationModel.Name" formControlName="name" placeholder="{{'Register.EnterName' | translate }}">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" [(ngModel)]="UserRegistrationModel.Email" formControlName="email" placeholder="{{'Register.EnterValidEmail' | translate }}">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="UserRegistrationModel.MobileNo" formControlName="mobile" placeholder="{{'Register.EnterValidMobileNo' | translate }}">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="2" [(ngModel)]="UserRegistrationModel.Address" cols="4"  formControlName="address" placeholder="{{'Register.EnterValidAddress' | translate }}"></textarea>
      </div>
      <!-- <div class="form-group">
        <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of
            Use</a> &amp; <a href="#">Privacy Policy</a></label>
      </div> -->
      <div class="form-group">
        <button [disabled] ="!UserRegistrationForm.valid" class="btn btn-success btn-lg btn-block" (click)="RegisterUser()" >
          {{'Register.RegisterNow' | translate }}</button>
      </div>
    </form>
    <div class="text-center">{{'Register.AlreadyHaveAnAccount' | translate }}<a href="#">{{'Register.SignIn' | translate }}</a></div>
  </div>
</body>

