<div class="app-content content mt-2" style="background: url(../../assets/img/banner1.png) no-repeat;background-size: cover; overflow: auto;">
  <div class="content-overlay"></div>
  <div class="content-wrapper mtv-2">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="">
       <div id="carouselExampleControlsNoTouching" class="carousel slide" data-touch="false" data-interval="true">
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="5000">
              <img src="../../assets/img/DashboardBak.png" class="d-block img" alt="...">
            </div>
            <div class="carousel-item" data-interval="5000">
              <img src="../../assets/img/slide1.png" class="d-block img" alt="...">
            </div>
            <div class="carousel-item" data-interval="5000">
              <img src="../../assets/img/slide2.png" class="d-block img" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev prev" href="#carouselExampleControlsNoTouching" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next next" href="#carouselExampleControlsNoTouching" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
       

      </section>
     
      <!-- Dashboard Analytics Start -->
      <section id="form-repeater-wrapper" class="mtv-1">
        <div class="row match-height">
          <!-- CrossFade Carousel Start -->
          <div class="col-lg-4">
            <div class="card">
              <div class="card-header bg-info text-center">
                    <h3 class="text-white"><b>Iron & Fold</b></h3>
              </div>
              <div class="card-body" style="padding-top: 2px;">
                <div class="zoom-effect-container">
                  <div class="image-card">
                      <img src="../../assets/img/iron.png" class="img-fluid">
                  </div>
                </div>
                
              <div class="text-center mt-0"> 
                <button type="submit" class="order  shadow" (click)="NevigateToModule('ironing')">Place Order</button></div>
              </div>
            </div>               
          </div>

          <div class="col-lg-4">
            <div class="card" >
              <div class="card-header bg-info text-center">
            
                <h3 class="text-white"><b>Wash &amp; Fold</b></h3>                  
               
                 
              </div>
              <div class="card-body" style="padding-top: 2px;">
               <div class="zoom-effect-container">
                  <div class="image-card">
                      <img src="../../assets/img/wash.png" class="img-fluid">
                  </div>
                </div>
              <div class="text-center mt-0"> 
                <button type="submit" class="order shadow " (click)="NevigateToModule('laundry')">Place Order</button></div>
              </div>
            </div>
            
          </div>  

          <div class="col-lg-4">
            <div class="card" >
              <div class="card-header bg-info text-center">
            
                <h3 class="text-white"><b>Wash &amp; Iron</b></h3>                  
               
              
              </div>
              <div class="card-body" style="padding-top: 2px;">
                <div class="zoom-effect-container">
                  <div class="image-card">
                      <img src="../../assets/img/wash-iron.png" class="img-fluid">
                  </div>
                </div>
              <div class="text-center mt-0">
                 <button type="submit" class="order  shadow " (click)="NevigateToModule('laundryIroning')">Place Order</button></div>
              </div>
            </div>               
          </div>   
          </div>          
        </section>
    </div>
  </div>
</div>
<app-footer></app-footer>
<!-- END: Content-->
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>