<div class="row">
  <div class="col-sm-4">
    <div class="row">
      <div class="well">
        <div class="row">
          <div class="col-sm-8">
            <p style="font-weight: bold;">Ironing</p>
          </div> 
          <div class="col-sm-4" (click)="NevigateToModule('ironing')">
              <div style="height: 30px; width: 80px; border-radius: 5px; border: 3px solid antiquewhite; text-align: center; ">
                <i class="fa fa-angle-double-right fa-1x"></i>
              </div>
          </div>         
        </div>
        <div class="row">
          <div class="col-sm-12">
            <img src="../../assets/img/ironing-board.jpg" class="img-circle" height="220" width="99%" alt="Avatar">
          </div>          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="well">
        <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I
          forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="well">
        <div class="row">
          <div class="col-sm-8">
            <p style="font-weight: bold;">Laundry</p>
          </div> 
          <div class="col-sm-4" (click)="NevigateToModule('laundry')">
              <div style="height: 30px; width: 80px; border-radius: 5px; border: 3px solid antiquewhite; text-align: center; ">
                <i class="fa fa-angle-double-right fa-1x"></i>
              </div>
          </div>         
        </div>
        <div class="row">
          <div class="col-sm-12">
            <img src="../../assets/img/laundry_basket_0.jpg" class="img-circle" height="220" width="99%" alt="Avatar">
          </div>          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="well">
        <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I
          forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="well">
        <p style="font-weight: bold;">Ironing + Laundry</p>
        <img src="../../assets/img/LaundryPlusIroning.jpg" class="img-circle" height="220" width="99%" alt="Avatar">
      </div>
    </div>
    <div class="row">
      <div class="well">
        <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I
          forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
      </div>
    </div>
  </div>
</div>
    
    