<!-- BEGIN: Content-->
<div class="app-content content " style="background: url(../../assets/img/banner1.png) no-repeat;background-size: cover;height: 90vh;overflow: auto;">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div  [apploading]="isLoader" class="content-body mrt">
      <form [formGroup]='ironingForm'>
       <div class="mb">
        <h2 class="text-color"><strong>Ironing Form</strong></h2>
      </div>
      <section id="horizontal-input">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
              </div>
              <div class="card-body">
                  <div class="row">  
                    <div class="col-12">
                      <div class="form-group row align-items-center">
                        <div class="col-lg-3 col-md-3 col-xs-12">
                          <label  class="col-form-label">No. of Clothes<span class="text-danger"> *</span></label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-xs-12">
                          <input type="number" formControlName="NoOfCloths" pattern="^[0-9]*$"
                            class="form-control" 
                           (keyup)=SetTotalCost($event); [(ngModel)]="ironingModel.NoOfCloths" max="999" placeholder="Enter no of clothes" required>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">  
                    <div class="col-12">
                      <div class="form-group row align-items-center">
                        <div class="col-lg-3 col-md-3 col-xs-12">
                          <label  class="col-form-label">Pickup Date<span class="text-danger"> *</span></label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-xs-12">
                          <input type="date" id="pdate" class="form-control"
                          formControlName="PickupDate" [(ngModel)]="ironingModel.PickUpDate" 
                          [max]="SetMaxDateForDatePicker()" [min]="SetMinDateForDatePicker()" required>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">  
                    <div class="col-12">
                      <div class="form-group row align-items-center">
                        <div class="col-lg-3 col-md-3 col-xs-12">
                          <label class="col-form-label">Time Slot<span class="text-danger"> *</span></label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-xs-12">
                          <select formControlName="TimeSlot" [(ngModel)]="ironingModel.PickUpTimeSlot" class="form-control" required>
                            <option value="null">Select time slot</option>
                            <option *ngFor="let t of pickupTimeSlot"  [ngValue]='t.timeSlot'>{{t.timeSlot}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">  
                    <div class="col-12">
                      <div class="form-group row align-items-center">
                        <div class="col-lg-3 col-md-3 col-xs-12">
                          <label class="col-form-label">Address<span class="text-danger"> *</span></label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-xs-12">
                          <textarea formControlName="Address" [(ngModel)]="ironingModel.PickUpAddress" class="form-control"  placeholder="Enter Address" required readonly></textarea> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">  
                    <div class="col-md-12 col-lg-12">
                      <div class="form-group row">
                        <div class="col-lg-3 col-md-3 col-xs-12">
                          <label class="col-form-label" style="font-size: 18px;font-weight: 900;">Total Cost</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-xs-12">
                          <input formControlName="TotalCost" type="text" [(ngModel)]="ironingModel.TotalCost" class="form-control"  placeholder="Total cost" readonly required>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-6">
                          <h6 class="mt-1"><strong>7 &#8377; / Cloth</strong></h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xs-6">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-12">
                      <button type="submit" style="cursor: pointer;" [disabled] ="!ironingForm.valid" (click)="AddIroningOrders()" class="btn btn-info shadow mr-1 mb-1">Place Order</button>
                      <button type="button" (click)="ResetForm()" class="btn btn-light shadow mr-1 mb-1">Clear</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
    </div>
  </div>
</div>
<!-- END: Content-->
<app-footer></app-footer>






