<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="equal-height">
      <div class="equ-cell">
        <header>
          <h2>{{'Ironing.LaundryOrderSummary' | translate }}</h2>
        </header>
        <div class="body" [apploading]="isLoader">
          <div class="row">
            <div class="col-sm-3 col-md-3">
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="summaryBlock">
                <div class="row text-center" style="border-bottom: 2px solid greenyellow;">
                  <div class="col-sm-12 col-md-12">
                    <label class="summary-font" style="color:lightyellow;">{{'CommonText.ThankYouOrder' | translate }}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6">
                    <label class="summary-font">{{'Ironing.OrderId' | translate }}
                    </label>
                  </div>
                  <div class="col-sm-6 col-md-6">
                    <label class="summary-font">{{orderDetails.OrderId}}
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6">
                    <label class="summary-font">{{'Ironing.NoOfKgs' | translate }}:
                    </label>
                  </div>
                  <div class="col-sm-6 col-md-6">
                    <label class="summary-font">{{orderDetails.NoOfKgs}}
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6">
                    <label class="summary-font">{{'Ironing.PickupDate' | translate }}:
                    </label>
                  </div>
                  <div class="col-sm-6 col-md-6">
                    <label class="summary-font">{{orderDetails.PickUpDate | date:"dd-MMM-yyyy"}}
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6">
                    <label class="summary-font">{{'Ironing.TimeSlot' | translate }}:
                    </label>
                  </div>
                  <div class="col-sm-6 col-md-6">
                    <label class="summary-font">{{orderDetails.PickUpTimeSlot}}
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6">
                    <label class="summary-font">{{'Ironing.PickupAddress' | translate }}:
                    </label>
                  </div>
                  <div class="col-sm-6 col-md-6">
                    <label class="summary-font" style="word-break: break-all;">{{orderDetails.PickUpAddress}}
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6">
                    <label class="summary-font">{{'CommonText.TotalCost' | translate }}:
                    </label>
                  </div>
                  <div class="col-sm-6 col-md-6">
                    <label class="summary-font" style="color:black;" >{{orderDetails.TotalCost}} <span>&#8377;</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-md-3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>