<!-- BEGIN: Content-->
<div class="app-content content mt-2" style="background: url(../../../assets/img/banner1.png) no-repeat;background-size: cover;overflow: auto;">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <div class="mb-2">
        <h2 class="text-color"><strong>Recent Order</strong></h2>
      </div>
      <!-- Dashboard Analytics Start -->
      <section id="form-repeater-wrapper ">
          <div class="row match-height">
            <!-- CrossFade Carousel Start -->
            <div class="col-lg-6" *ngFor="let order of orderlist">
              <div class="card mb-2" id="carousel-crossfade">
                <div class="card-header bg-info text-white">
                  <h4 class=" title-bar"><strong>{{ order.OrderNumber }}</strong></h4>
                 
                </div>
                <div class="card-body">
                 <div class="row">
                   <div class="col-6">
                    <h6>No of Cloths</h6>
                   </div>
                   <div class="col-6">
                    <h6>{{order.NoOfCloths}}</h6>
                   </div>
                 </div>
                 <div class="row">
                  <div class="col-6">
                   <h6>Pickup Address</h6>
                  </div>
                  <div class="col-6">
                    <h6 class="">{{ order.PickUpAddress}}</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                   <h6>Pickup Date</h6>
                  </div>
                  <div class="col-6">
                    <h6>{{ order.PickUpDate | date:'dd-MMM-yyyy'}}</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                   <h6>Pickup TimeSlot</h6>
                  </div>
                  <div class="col-6">
                    <h6 class="mrb">{{ order.PickUpTimeSlot}}</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                   <h6>Available promo code points</h6>
                  </div>
                  <div class="col-6">
                    <h6><strong>&#8377;{{order.PromoCodePoints}}</strong></h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                   <h6>Total Cost</h6>
                  </div>
                  <div class="col-6">
                    <h6 class="text-danger"><strong>&#8377;{{order.TotalCost}}</strong></h6>
                  </div>
                </div>
                      <ul class="progress-indicator">
                        <li [ngClass]="{'completed':order.CreatedAt !== null}">
                            <span class="bubble"></span>
                            New <br>
                        </li>
                        <li [ngClass]="{'completed':order.PickedAt !== null}">
                            <span class="bubble"></span>
                            Picked <br>
                        </li>
                        <li [ngClass]="{'completed':order.ProcessedAt !== null}">
                            <span class="bubble"></span>
                            Processed <br>
                        </li>
                        <li [ngClass]="{'completed':order.DeliveredAt !== null}">
                            <span class="bubble"></span>
                            Delivered
                        </li>
                        
                      </ul>
                </div>
              </div>
            </div>
          </div>
      </section>
    </div>
  </div>
</div>
<app-footer></app-footer>
<!-- END: Content-->