<div style="max-height: 540px;">
<div style="margin-top: 1%;" class="row" *ngFor="let row of orderlist; let i = index">
  <div class="col-md-4" *ngFor="let col of orderlist[i]">
    <div class="card">
      <h5 class="card-header"
      [ngStyle]="{'background-color':col.OrderStatus == 'New' ? 'red':
      col.OrderStatus == 'Picked' ? 'blue' :
      col.OrderStatus == 'Processed'? '#E1AD01' :
      col.OrderStatus == 'Delivered' ? 'green' : '',
      color: 'white'}">{{ col.OrderNumber }}
      <marquee behavior="scroll" direction="left">Here is some scrolling text... right to left!</marquee></h5>
      

      <div class="card-body">
        <div class="card-text">
          <div class="row">
            <div class="col-md-6">
              <label *ngIf="col.OrderType === 'Ironing'" >No Of Cloths:</label>
              <label *ngIf="col.OrderType !== 'Ironing'" >No Of Kgs:</label>
            </div>
            <div class="col-md-6">
              <span *ngIf="col.OrderType === 'Ironing'">{{ col.NoOfCloths}}</span>
              <span *ngIf="col.OrderType !== 'Ironing'">{{ col.NoOfKgs}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Pickup Address:</label>
            </div>
            <div class="col-md-6">
              <span>{{ col.PickUpAddress}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Pickup Date:</label>
            </div>
            <div class="col-md-6">
              <span>{{ col.PickUpDate | date:'dd-MMMM-yyyy'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Pickup TimeSlot:</label>
            </div>
            <div class="col-md-6">
              <span>{{ col.PickUpTimeSlot}}</span>
            </div>
          </div>
        </div>
        <div class="card-title">
          <label>Total Cost:</label> <h5 style="margin-left: 28%; margin-top: -11%;">{{ col.TotalCost | currency:'INR'}}</h5>
      </div>
      </div>
    </div>
  </div>
  </div>
</div>