/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.css";
@font-face {
  font-family: 'poppinsbold';
  src: url('assets/fonts/poppins-bold-webfont.woff2') format('woff2'), url('assets/fonts/poppins-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinslight';
  src: url('assets/fonts/poppins-light-webfont.woff2') format('woff2'), url('assets/fonts/poppins-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsmedium';
  src: url('assets/fonts/poppins-medium-webfont.woff2') format('woff2'), url('assets/fonts/poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsregular';
  src: url('assets/fonts/poppins-regular-webfont.woff2') format('woff2'), url('assets/fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinssemibold';
  src: url('assets/fonts/poppins-semibold-webfont.woff2') format('woff2'), url('assets/fonts/poppins-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


h1, h2, h3, h4, h5 {
  margin: 10px 0;
}

p{
  margin:0 0 10px 0;
}

.cursor{
  cursor: pointer;
}

.no-gutter {
  padding-right:0;
  padding-left:0;
}

.h-text-center{
  text-align: center !important;
}

.no-border{
  border:0;
}


select {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

a{
  cursor: pointer;
}

/*-- margin helper classes --*/

.mb-0{
  margin-bottom: 0;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-left-10{
  margin-left: 10px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.padding-top-10{
  padding-top: 10px;
}

.padding-right-10{
  padding-right: 10px;
}

.margin-left-0{
  margin-left:0 !important;
}

.margin-top-25{
  margin-top: 25px;
}


.padding-0{
  padding:0;
}

/*-- Display Classes --*/
.display-flex-center{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-wrap{
  flex-wrap: wrap;
}

.display-block{
  display: block;
}

.display-inline-block{
  display: inline-block;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* loader css ---------------------------------------------- */


.loadingimage {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.1);
    z-index: 50;
    display: block;
    font-size: 46px;
    border-radius: 0;
  }
  
  .spinnerloader:before,
  .spinnerloader:after {
  content: "";
  position: relative;
  display: block;
  }
  
  .spinnerloader:before {
  animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: 1em;
  height: 1em;
  background-color: #337ab7;
  }
  
  .spinnerloader:after {
  animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  bottom: -.5em;
  height: .25em;
  border-radius: 50%;
  background-color: rgba(#000, 0.2);
  }
  
  @keyframes spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
  }
  
  100% {
    transform: scale(1) rotate(720deg);
  }
  }
  
  @keyframes shadow {
  50% {
    transform: scale(0.5);
    background-color: rgba(0, 0, 0, 0.2);
  }
  }
  
  .divshow {
  display: block;
  }
  
  .divhide {
  display: none;
  }
  
  .round_box {
  height: 50px;
  width: 50px;
  top: 5px;
  background: #ffffff;
  margin-left: 10px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ff8000;
  text-align: center;
  font-size: 18px;
  padding-top: 9px;
  margin: 0 auto;
  }
  
  
  .loadermain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  .nav {
    display: inline-block;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    background: lightslategray;
    border: 5px solid floralwhite;
    border-radius: 10px;
    color: snow;
  }
  
  .sidebar {
    display: none;
}

.main {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  max-height: 600px;
  overflow-y: auto;
}
.main .page-header {
  margin-top: 0;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 8px 10px;
  color: antiquewhite;
}

.nav>li {
  border-bottom: 1px solid antiquewhite;
}
@media screen and (min-width: 768px){
  .main {
    margin-left: 16%;
}

.sidebar {
  position: fixed;
  top: 66px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #c8cdd2;
  border-right: 5px solid antiquewhite;
  border-left: 10px solid antiquewhite;
  border-bottom: 5px solid antiquewhite;
  border-radius: 15px;
  }

  .equal-height .border{
    border: 1px solid #666;
  }
  
  .equ-cell{
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 10px;
    float: left;
    width:100%;
  }
  
  
  .equ-cell header {
    padding: 12px 0px 12px 15px;
    background-color: #63738a;
    color: #fff;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .equ-cell header h2 {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color:antiquewhite;
    font-weight: bold;
    font-size:15px;
  }
  
  .equ-cell .body {
    padding: 0 5px 10px 5px;
    color: #757575;
    height: calc(100vh - 150px);
    float: left;
    width:100%;
  }
  
  .equ-cell .btn{
    white-space: normal;
  }

  .form-control-border
  {
    border: 2px solid #63738a;
  }
  .form-group{
    margin: 20px;
  }

  .required{
    color: red;
  }
}
  /*-------------------------------------------------------------------------------------------------*/