.breakword{word-wrap: break-word;}
     .vspacetable td:first-child{width:120px;}
      .card .card-header{display: block;text-align: center; border-bottom: none;}
      .fonticon-container>.fonticon-wrap>i{color: #fff;border:2px solid;padding:5px;border-radius: 28px;font-size:1.5rem;}
      .mat{margin-top: -20px;}
      .table td{border-bottom: none;padding: 7px;}
      .mrt{margin-top: 0px;}
      .footer{background-color: #F2F4F4;position: relative;top: -56px;}
      table{width: 100%;}
      @media(max-width: 800px){.ml{margin-left: 20px}  .vspacetable td:first-child{width:75px;} }
      @media(max-width: 500px){.mrt{margin-top: 10px;} .footer{top: 16px;} }