<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body" [formGroup]='adminAgentUserForm' [apploading]="isLoader">
          <div class="row">  
            <div class="col-12">
              <div class="form-group row align-items-center">
                <div class="col-lg-3 col-md-3 col-xs-12">
                  <label  class="col-form-label">Username<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                  <input [attr.disabled]="isUpdateDelete == true ? true: null" type="text" class="form-control" maxlength="20" (change)="CheckUserNameExists()"
                  (keypress)="keyPressAlphaNumeric($event)" [(ngModel)]="adminAgentUserModel.UserName"
                  formControlName="Username" placeholder="Enter username">
                </div>
              </div>
            </div>
          </div>
          <div class="row">  
            <div class="col-12">
              <div class="form-group row align-items-center">
                <div class="col-lg-3 col-md-3 col-xs-12">
                  <label  class="col-form-label">Password<span class="text-danger"> *</span></label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                  <input type="password" class="form-control" maxlength="20"
                  [(ngModel)]="adminAgentUserModel.Password" formControlName="Password" 
                  placeholder="Enter password">
                </div>
              </div>
            </div>
          </div>
          <div class="row">  
            <div class="col-12">
              <div class="form-group row align-items-center">
                <div class="col-lg-3 col-md-3 col-xs-12">
                  <label class="col-form-label">Name<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                  <input type="text" class="form-control" maxlength="50" 
                  [(ngModel)]="adminAgentUserModel.Name"
                  formControlName="Name" placeholder="Enter name">
                </div>
              </div>
            </div>
          </div>

          <div class="row">  
            <div class="col-12">
              <div class="form-group row align-items-center">
                <div class="col-lg-3 col-md-3 col-xs-12">
                  <label class="col-form-label">Address<span class="text-danger"> *</span></label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                  <textarea [(ngModel)]="adminAgentUserModel.Address" maxlength="200" formControlName="Address" class="form-control"  placeholder="Enter address" required></textarea> 
                  
                </div>
              </div>
            </div>
          </div>
          <div class="row">  
            <div class="col-12">
              <div class="form-group row align-items-center">
                <div class="col-lg-3 col-md-3 col-xs-12">
                  <label class="col-form-label">Mobile No<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                  <input type="number" class="form-control" maxlength="10" 
                    [(ngModel)]="adminAgentUserModel.MobileNo"
                    formControlName="MobileNo" placeholder="Enter valid mobile no">
                </div>
              </div>
            </div>
          </div>

          <div class="row">  
            <div class="col-12">
              <div class="form-group row align-items-center">
                <div class="col-lg-3 col-md-3 col-xs-12">
                  <label class="col-form-label">Email Id<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                  <input type="email" class="form-control" maxlength="50"
                  [(ngModel)]="adminAgentUserModel.Email" formControlName="EmailId" 
                  placeholder="Enter email id">
                </div>
              </div>
            </div>
          </div>

          <div class="row">  
            <div class="col-12">
              <div class="form-group row align-items-center">
                <div class="col-lg-3 col-md-3 col-xs-12">
                  <label class="col-form-label">AadharNo<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                  <input [attr.disabled]="isUpdateDelete == true ? true: null" type="text" class="form-control" maxlength="30" 
                    [(ngModel)]="adminAgentUserModel.AadharNo"
                    formControlName="AadharNo" 
                    placeholder="Enter valid aadhaar no">
                </div>
              </div>
            </div>
          </div>

          <div class="row">  
            <div class="col-12">
              <div class="form-group row align-items-center">
                <div class="col-lg-3 col-md-3 col-xs-12">
                  <label class="col-form-label">DrivingLicenceNo<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                  <input [attr.disabled]="isUpdateDelete == true ? true: null"
                  type="text" class="form-control" maxlength="50"
                   [(ngModel)]="adminAgentUserModel.DrivingLicenceNo" formControlName="DrivingLicenceNo" 
                   placeholder="Enter valid driving licence no">
                </div>
              </div>
            </div>
          </div>

          <div class="row">  
            <div class="col-12">
              <div class="form-group row align-items-center">
                <div class="col-lg-3 col-md-3 col-xs-12">
                  <label class="col-form-label">BirthDate<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12">
                  <input  [attr.disabled]="isUpdateDelete == true ? true: null" type="date" class="form-control"  
                    [(ngModel)]="adminAgentUserModel.DateOfBirth"
                    formControlName="Birthdate" [max]="MaxDate()">
                </div>
              </div>
            </div>
          </div>

          <div class="row">  
            <div class="col-12">
              <div class="form-group row align-items-center">
                <div class="col-lg-3 col-md-3 col-xs-12">
                  <label class="col-form-label">UserType<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                  <label class="bold-font">{{'Register.Admin' | translate }}
                    <input type="radio" (click)="SetUserType('Admin')" value="true" formControlName="IsAdmin" [(ngModel)]="adminAgentUserModel.IsAdmin">
                  </label>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                  <label class="bold-font">{{'Register.Agent' | translate }}
                    <input type="radio" (click)="SetUserType('Agent')" value="true" formControlName="IsAgent" [(ngModel)]="adminAgentUserModel.IsAgent">
                  </label>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                  <label class="bold-font">{{'Register.Operator' | translate }}
                    <input type="radio" (click)="SetUserType('Operator')" value="true" formControlName="IsOperator" [(ngModel)]="adminAgentUserModel.IsOperator">
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
              <button class="btn btn-primary" style="margin-right: 10px;" [disabled] ="!adminAgentUserForm.valid || isUpdateDelete"
                (click)="AddAdminAgentUser()">
                {{'CommonText.Add' | translate }}</button>
                <button class="btn btn-primary" style="margin-right: 10px;"
                (click)="UpdateAdminAgentUser()" [disabled]="!isUpdateDelete">
                {{'CommonText.Update' | translate }}</button>
                <button class="btn btn-primary" style="margin-right: 10px;"
                (click)="DeleteAdminAgentUser()" [disabled]="!isUpdateDelete">
                {{'CommonText.Delete' | translate }}</button>
              <button class="btn btn-primary" (click)="ResetForm()">
                {{'CommonText.Clear' | translate }}</button>
            </div>
          </div>
          
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <app-grid-table [columns]="columnHeader" [pagesize]="50" [Data]="tableData" [TotalItem]="totalItems"
      (clickedIcon)="selectedGridData($event)" [pagination]="true" [showselection]='false' [enableSearch]="true"
      [GridName]="'UsersGrid'">
    </app-grid-table>
  </div>
</div>