  <app-header></app-header>
  <app-menu [MenuList]="menuList"></app-menu>
  <router-outlet></router-outlet>
  <!-- <div class="container-fluid">
    <div class="row">

      <div class="col-sm-3 col-md-2">
        
        <ul class="nav nav-sidebar">
          <li *ngFor="let menu of menuList"><a href="#" [routerLink]="[menu.routeUrl]">{{menu.Name}}</a></li>
        </ul>
      </div>
      <div class="col-sm-9  col-md-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div> -->
