<!-- <div class="sidenav-overlay"></div>
    <div class="drag-target"></div> -->
 <footer class="footer footer-static footer-light">
      <div class="row">
        <div class="col-lg-5 col-md-4">
          <ul class="link pt-1">
             <li><a *ngIf="loginUsername"  [routerLink]="['/cleanit/home/faqs']">FAQ</a></li>
             <li><a *ngIf="loginUsername" [routerLink]="['/cleanit/home/contactUs']">Contact Us</a></li>
            <li><a *ngIf="!loginUsername" target="_blank" [routerLink]="['/cleanit/faqsV2']">FAQ</a></li>
            <li><a *ngIf="!loginUsername" target="_blank" [routerLink]="['/cleanit/contactUsV2']">Contact Us</a></li>
          </ul>   
        </div>
        <div class="col-lg-3 col-md-4">
          <div class=" pt-1 copyright">2021 &#169; All Rights Reserved</div>
        </div>
        <div class="col-lg-4 col-md-4">
          <ul class="social">
          <li>
            <a href="#">
              <i class="bx bxl-twitter"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.facebook.com/Cleanit-105999055153742">
              <i class="bx bxl-facebook"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.instagram.com/invites/contact/?i=p5k5m9gy0hm6&utm_content=m8v4e9t">
              <i class="bx bxl-instagram"></i>
            </a>
          </li>
        </ul>  
        </div>
      </div>
     
    </footer>
  <!-- <div class="whatsapp scroll-bottom" style="position: fixed;
      bottom: 50px;
      left: 36px;
      padding: 3px 12px;
      font-size: 36px;
      border-radius: 30px;
      color: #fff;
      background-color: #07e807; z-index: 999;">
    <a href="#" class="float" target="_blank" style="color: #fff">
      <div class="fonticon-wrap">
        <i class="bx bxl-whatsapp" style="font-size: 30px;"></i>
      </div>
    </a>
  </div> -->